<div class="container">
    <div id="burgerHead" class="col-med-12">
        <h2 style="font-family:'PT Mono', monospace; color:rgb(226, 43, 43); text-align:center; ">
        Its Burger Time are you ready??? 
        </h2>
        <img src="/assets/img/Burger_backGround.jpg" alt="burger" width="100%" height="210px" >
    </div>
</div>

<div class="row">
    <div id="addBurg" class="col-med-12">
       <p> <h2>What would you like to order?</h2> </p>
        <form class="create-form">
            <div class="form-group">
                <label for="bn">Burger:</label>
                <input type="text" id="bn" name="name">
            </div>
            <button type="submit">Order</button>
        </form>
    </div>
</div>

<div class="container">
    <div class="row" style="justify-items: center;">
        <div id="toEat" class="col-md-5">
            <h2>To Eat!</h2>
            <ul class="list-group list-group-flush">
                {{#each burgers}}
                {{#unless devoured}}
                <li class="list-group-item">
                    {{burger_name}}
                    <button class="change-devour" data-id="{{id}}">Devour!</button>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
          <div id="space" class="col-md-2">         </div>
        <div id="done" class="col-md-5">
            <h3>Done!</h3>
            <ul class="list-group list-group-flush">
                {{#each burgers}}
                {{#if devoured}}
                <li class="list-group-item">
                    {{burger_name}}"
                    <button class="delete-burger" data-id="{{id}}">Delete!</button>
                </li> {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <footer>
        <p style="background-color:#ff0000; font-family:'PT Mono', monospace; color:rgb(255, 251, 251); "> copyright © BurgerTime 11_2019 by EmDBad</p>
    </footer>
</div>