*{
  box-sizing: border-box;
}

body {
background:greenyellow;
  }
header {
background-image: url("/public/assets/img/Burger_backGround.jpg");
background-repeat: no-repeat;
max-inline-size: 100%;
position: relative;
float: left;
color: rgb(0, 0, 0);
font-family: 'PT Mono', monospace;
font-family: 'Roboto', sans-serif;
font-size:50pt;
;
}
h1 {
color:red;
text-align: center;
background: whitesmoke;
}

h3 {
  color:white;
  }

li {
    list-style: none;
    padding: 5px;
    margin: 5px;
  }
  
  .label {
    font-weight: bold;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

#toEat {
  background: red;
  padding-bottom: 20px;
  margin-right: 10px;
}

#done {
  float: left;
  background: blue;
  padding-bottom: 20px;
  margin-left: 10px;
}

#addBurg {
  padding:20px;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 15px;
}
